In [130]:
import numpy as np
import pandas as pd
import seaborn as sns

In [139]:
sales = pd.read_csv("sales_082020.csv")
cur_rates = pd.read_csv("currency_rates_082020_EUR.csv")

In [132]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237671 entries, 0 to 237670
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   buyer_id        237671 non-null  object
 1   buyer_country   237671 non-null  object
 2   seller_id       237671 non-null  object
 3   seller_country  237671 non-null  object
 4   product_code    237671 non-null  object
 5   category        237655 non-null  object
 6   brand           119330 non-null  object
 7   currency        237671 non-null  object
 8   price           237671 non-null  float64
 9   date            237671 non-null  object
dtypes: float64(1), object(9)
memory usage: 18.1+ MB

In [133]:
sales.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03
1,o79pns1qwo,GB,50xki2yg,GB,38chj507o6h2,Outerwear,Adidas Originals,GBP,15.92,2020-08-09
2,sjgbjdkhqx,GB,50xki2yg,GB,i9ynyxj5tdp8,Tops - Mens,NaN,GBP,6.37,2020-08-07
3,o79pns1qwo,GB,s0p322hh,GB,t50xe7moye8v,Tops - Mens,Berghaus,GBP,25.27,2020-08-09
4,o79pns1qwo,GB,dpkx192v,GB,hp4r9bjq68af,Bottoms - Womens,NaN,GBP,8.90,2020-08-09

In [134]:
cur_rates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [135]:
cur_rates.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

**1. How many rows in the sales dataset?(Just write the numbers in the format of 000.000)**

In [11]:
sales.shape[0]

237671

**2. How many columns in the sales dataset?(Just write the numbers)**

In [13]:
len(sales.columns)

10

**3. What is the total number of sellers?(Just write the numbers in the format of 000.000)**

In [20]:
sales["seller_id"].nunique()

114227

In [24]:
sales["seller_id"].value_counts()

pzsiehl0    703
wd3rgi3q    525
j21w87xy    500
dbm0o9qu    436
hbtm3tdy    316
           ...
b79drc4f      1
ivtfeqcd      1
uvfzdgb4      1
pbrox97s      1
0au7baxi      1
Name: seller_id, Length: 114227, dtype: int64

**4. What is the total value of sales in EUR?(Just write the numbers in the format of 0.000.000 )**

In [137]:
cur_rates.date.head()

0    8/1/2020
1    8/2/2020
2    8/3/2020
3    8/4/2020
4    8/5/2020
Name: date, dtype: object

In [140]:
sales.date = pd.to_datetime(sales.date)

In [142]:
sales.date.head()

0   2020-08-03
1   2020-08-09
2   2020-08-07
3   2020-08-09
4   2020-08-09
Name: date, dtype: datetime64[ns]

In [143]:
cur_rates.date = pd.to_datetime(cur_rates.date)
cur_rates.date.head()

0   2020-08-01
1   2020-08-02
2   2020-08-03
3   2020-08-04
4   2020-08-05
Name: date, dtype: datetime64[ns]

In [145]:
df_new = pd.merge(sales, cur_rates, on=["date", "currency"])
df_new

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935
...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540

In [146]:
df_new["Total"] = df_new.price / df_new.rate
df_new

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,Total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955
...,...,...,...,...,...,...,...,...,...,...,...,...
237666,d7dx6f3qv7,RoW,e2p108mu,RoW,nan9a4p10ayk,Tops - Mens,NaN,PLN,4.24,2020-08-04,4.39693,0.964309
237667,iaf2ck3rj6,IT,gjb1qntq,RoW,lxj477q1hab2,Accessories,NaN,CZK,3923.18,2020-08-04,26.12360,150.177617
237668,tucgt70cwc,AU,9adnlxvr,RoW,2g0g0obhwjuc,Jewellery,NaN,PLN,525.82,2020-08-09,4.41427,119.118223
237669,rrfjxzbdxu,US,w2pozh7u,US,5mm5eg99xbu2,Bottoms - Womens,Brandy Melville,BRL,34.92,2020-08-06,6.33240,5.514497
237670,wnmihth4io,GB,5yogzc17,RoW,wrgq88ujwh5d,Bottoms - Womens,NaN,NOK,533.06,2020-08-08,10.64540,50.074210

In [147]:
df_new["Total"].sum()

6471510.822498876

**5. Which brand has the highest number of purchases during the period?(Just write down the brand as in the dataset, your answer is supposed to be case sensitive)**

In [27]:
sales["brand"].value_counts()

Nike                  9575
Brandy Melville       5065
Topshop               4561
PrettyLittle Thing    4136
Adidas                3905
                      ...
Preen                    1
Wacoal                   1
Shu Uemura               1
Parker                   1
Vita Fede                1
Name: brand, Length: 1134, dtype: int64

In [28]:
sales["brand"].value_counts(dropna=False)

NaN                   118341
Nike                    9575
Brandy Melville         5065
Topshop                 4561
PrettyLittle Thing      4136
                       ...
kensie                     1
Rachel Comey               1
C/meo Collective           1
Preen                      1
Vita Fede                  1
Name: brand, Length: 1135, dtype: int64

**6. How many items in the “Jewelry” category have no brand associated with them?(Just write the numbers in the format of 00.000)**

In [151]:
sales[(sales.category == "Jewellery") & (sales.brand.isnull())]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
23,94lh9gu3bu,US,dhsa2q6o,US,1m846u2l2dyl,Jewellery,NaN,USD,16.29,2020-08-03
48,u8da411658,AU,qn7p4cv2,AU,dd4d4p2h4us2,Jewellery,NaN,AUD,12.52,2020-08-07
49,9exo58j839,AU,qn7p4cv2,AU,6nogqtmgfjsn,Jewellery,NaN,AUD,8.48,2020-08-09
50,9exo58j839,AU,qn7p4cv2,AU,w5ixs8y20z3n,Jewellery,NaN,AUD,5.58,2020-08-09
51,9exo58j839,AU,qn7p4cv2,AU,g5usn39z8b7u,Jewellery,NaN,AUD,5.37,2020-08-09
...,...,...,...,...,...,...,...,...,...,...
237545,rabu7nz8gn,US,rv5nmiwq,US,ikfosml5pjas,Jewellery,NaN,USD,21.19,2020-08-05
237568,ytjobx2wzg,GB,qib5sh0l,GB,tn00dvezdp43,Jewellery,NaN,GBP,1.15,2020-08-05
237569,ytjobx2wzg,GB,qib5sh0l,GB,eykndnmcb4g6,Jewellery,NaN,GBP,1.15,2020-08-05
237616,p0jol2ieus,US,4pi8qok2,US,0ipj5zmes1cu,Jewellery,NaN,USD,18.67,2020-08-08
237643,q86525x69t,GB,33hffrhq,GB,426jwzj6b2uz,Jewellery,NaN,GBP,5.30,2020-08-05

In [152]:
sales[(sales.category == "Jewellery") & (sales.brand.isnull())].product_code.nunique()

10931

**7. How many brands have between 35 and 55 transactions (inclusive)?(Just write the numbers)**

In [161]:
((sales.groupby("brand")["brand"].value_counts()<=55) & (sales.groupby("brand")["brand"].value_counts()>=35)).value_counts()

False    1053
True       81
Name: brand, dtype: int64

In [162]:
((df_new.brand.value_counts() >= 35) & (df_new.brand.value_counts() <= 55)).sum()

81

**8. How many pairs of shoes were purchased by Australian (AU) buyers?(Just write the the numbers)**

In [122]:
sales[(sales["category"] == "Shoes") & (sales["buyer_country"] == "AU")]

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date
139,ex9bpqq8w6,AU,j3pkou10,US,2tzszjhssh03,Shoes,Skechers,USD,52.24,2020-08-08
539,uru4etz7e5,AU,1i84ez1k,AU,zzu9hpjsjx6o,Shoes,NaN,AUD,73.73,2020-08-09
5639,9fn32ae6a9,AU,arloo1le,GB,a2gdza98bia7,Shoes,Nike,GBP,75.27,2020-08-09
7117,40jm2mgsri,AU,toud3ymd,AU,so29y8tl6rvs,Shoes,Nike,AUD,55.03,2020-08-09
7118,ncxx01xn4j,AU,toud3ymd,AU,utn7clcp7j3n,Shoes,NaN,AUD,211.76,2020-08-03
...,...,...,...,...,...,...,...,...,...,...
236930,azmnowovd7,AU,xgse9ed3,AU,1xzq0f7a31bi,Shoes,NaN,AUD,85.48,2020-08-05
237075,i0loqi83nv,AU,f8ts15sr,AU,zvrlgzyse7j6,Shoes,NaN,AUD,34.01,2020-08-05
237495,86aw49gm0m,AU,seb5z7bo,AU,xeebt9i4gyo3,Shoes,NaN,AUD,85.69,2020-08-05
237497,pcd2mdsr3n,AU,agzes91a,AU,bvqweclvm8tx,Shoes,NaN,AUD,95.27,2020-08-06
237575,0s9ms8inq0,AU,zkon4br2,AU,srw1zpebx9zo,Shoes,Nike,AUD,180.12,2020-08-05

**9. Which brand has the highest average transaction value? (Just write down the brand as in the dataset, your answer is supposed to be case sensitive)**

In [128]:
sales.groupby("brand")["price"].mean().sort_values()

brand
360 Cashmere                1.120000
36572                       1.120000
Bronica                     3.786000
Max Factor                  3.911667
MUA                         4.686667
                             ...
Walter Van Beirendonck    216.180000
Craig Green               239.940000
Loeffler Randall          244.840000
Loewe                     302.043333
Goyard                    339.363333
Name: price, Length: 1134, dtype: float64

In [165]:
sales.groupby("brand")["price"].mean().idxmax()

'Goyard'

**10.What is the total value of items purchased by GB buyers from GB sellers? (Just write the numbers
in the format of 0.000.000 )**

In [167]:
df_new.head()

,buyer_id,buyer_country,seller_id,seller_country,product_code,category,brand,currency,price,date,rate,Total
0,qzpjsi9t0o,GB,6oufpaot,GB,ydecnydr6obf,Dresses,NaN,GBP,19.11,2020-08-03,0.89935,21.248680
1,rd209r8c7c,GB,9p2ansc9,GB,wpxxf59cq7pc,Outerwear - Mens,Adidas Originals,GBP,24.91,2020-08-03,0.89935,27.697782
2,pqbcrl8azx,GB,r9zmzem8,GB,ua9mmn86wsqy,Tops - Womens,NaN,GBP,19.31,2020-08-03,0.89935,21.471062
3,j5en1rwmxp,GB,3o2nz88r,GB,tduo2uy8iszl,Bottoms - Womens,Urban Outfitters,GBP,16.98,2020-08-03,0.89935,18.880302
4,kjdezxeh1l,GB,7g56ublf,GB,39o00tcu89zq,Other,NaN,GBP,2.85,2020-08-03,0.89935,3.168955

In [166]:
df_new[(df_new.buyer_country == "GB") & (df_new.seller_country == "GB")]["Total"].sum()

3526745.033129233

**11. What percentage of US sellers' transactions were purchased by US buyers? (Just write the percentage in the format of 00.00%)**

In [104]:
sales[(sales.seller_country == "US") & (sales.buyer_country == "US")].shape[0] /sales[sales.seller_country == "US" ].shape[0]

0.9823044415486354

In [169]:
df_new[(df_new.seller_country == "US") & (df_new.buyer_country == "US")]["Total"].sum() /df_new[df_new.seller_country == "US" ]["Total"].sum()

0.9596922067159569