In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [8]:
dt = pd.Series(["Nov 3, 2000", "2000-01-01", None ])
dt

0    Nov 3, 2000
1     2000-01-01
2           None
dtype: object

In [12]:
pd.to_datetime(dt[0])

Timestamp('2000-11-03 00:00:00')

In [17]:
pd.to_datetime("20001103", format= "%Y%d%m")

Timestamp('2000-03-11 00:00:00')

In [18]:
pd.to_datetime("20001103", format= "%Y%m%d")

Timestamp('2000-11-03 00:00:00')

In [19]:
df = pd.DataFrame({'year': [2015, 2016],
                    'month': [2, 3],
                    'day': [4, 5]})

In [22]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

In [24]:
pd.to_datetime(325454132321)

Timestamp('1970-01-01 00:05:25.454132321')

In [42]:
pd.to_datetime(6874532, unit="s")

Timestamp('1970-03-21 13:35:32')

In [43]:
year = 2020
month = 7
day = 5
hour = 18 
minute = 45
second = 22

In [44]:
my_date = datetime(year, month, day)

In [45]:
my_date

datetime.datetime(2020, 7, 5, 0, 0)

In [46]:
type(my_date)

datetime.datetime

In [47]:
my_date_hour = datetime(year, month, day, hour, minute, second)

In [48]:
my_date_hour

datetime.datetime(2020, 7, 5, 18, 45, 22)

In [49]:
my_date.day

5

In [50]:
my_date.year

2020

In [52]:
my_date.date()

datetime.date(2020, 7, 5)

In [57]:
my_date_hour.time()

datetime.time(18, 45, 22)

In [54]:
# dt = pd.Series(["Nov 3, 2000", "2000-01-01", None ])
dt

0    Nov 3, 2000
1     2000-01-01
2           None
dtype: object

In [55]:
pd.to_datetime(dt)

0   2000-11-03
1   2000-01-01
2          NaT
dtype: datetime64[ns]

In [58]:
new_date = "28-05-2020"

In [60]:
pd.to_datetime(new_date)

Timestamp('2020-05-28 00:00:00')

In [61]:
new_date2 = "4-5-2020"

In [62]:
pd.to_datetime(new_date2)

Timestamp('2020-04-05 00:00:00')

In [63]:
pd.to_datetime(new_date2, dayfirst=True)

Timestamp('2020-05-04 00:00:00')

In [71]:
diff_date = "12/12/2020"

In [72]:
pd.to_datetime(diff_date)

Timestamp('2020-12-12 00:00:00')

In [73]:
diff_date2 = "12--12--2020"
pd.to_datetime(diff_date2)

Timestamp('2020-12-12 00:00:00')

In [75]:
diff_date3 = "12--Dec--2020"
pd.to_datetime(diff_date3, format= "%d--%b--%Y")

Timestamp('2020-12-12 00:00:00')

In [77]:
strange_date = "   5th of Oct 2000  \n\t"
pd.to_datetime(strange_date)

Timestamp('2000-10-05 00:00:00')

In [78]:
df = pd.read_csv("currency_rates_082020_EUR.csv")

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    object
 2   rate      220 non-null    float64
dtypes: float64(1), object(2)
memory usage: 5.3+ KB

In [80]:
df.iloc[0]["date"]

'8/1/2020'

In [81]:
type(df.iloc[0]["date"])

str

In [82]:
df["date"] = pd.to_datetime(df["date"])

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    datetime64[ns]
 2   rate      220 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.3+ KB

In [87]:
df.head()

  currency       date  rate
0      EUR 2020-08-01   1.0
1      EUR 2020-08-02   1.0
2      EUR 2020-08-03   1.0
3      EUR 2020-08-04   1.0
4      EUR 2020-08-05   1.0

In [88]:
df.iloc[0]["date"]

Timestamp('2020-08-01 00:00:00')

In [89]:
type(df.iloc[0]["date"])

pandas._libs.tslibs.timestamps.Timestamp

In [90]:
df["date"].dt.date

0      2020-08-01
1      2020-08-02
2      2020-08-03
3      2020-08-04
4      2020-08-05
          ...
215    2020-08-06
216    2020-08-07
217    2020-08-08
218    2020-08-09
219    2020-08-10
Name: date, Length: 220, dtype: object

In [91]:
df["date"].dt.time

0      00:00:00
1      00:00:00
2      00:00:00
3      00:00:00
4      00:00:00
         ...
215    00:00:00
216    00:00:00
217    00:00:00
218    00:00:00
219    00:00:00
Name: date, Length: 220, dtype: object

In [92]:
df["date"][3] - df["date"][0]

Timedelta('3 days 00:00:00')

In [93]:
type(df["date"][3] - df["date"][0] )

pandas._libs.tslibs.timedeltas.Timedelta

In [95]:
df["date"][3] - df["date"][25]

Timedelta('-2 days +00:00:00')

In [105]:
df[df["currency"] == "GBP"]

   currency       date      rate
10      GBP 2020-08-01  0.900185
11      GBP 2020-08-02  0.899325
12      GBP 2020-08-03  0.899350
13      GBP 2020-08-04  0.902815
14      GBP 2020-08-05  0.904500
15      GBP 2020-08-06  0.903835
16      GBP 2020-08-07  0.902860
17      GBP 2020-08-08  0.903200
18      GBP 2020-08-09  0.902780
19      GBP 2020-08-10  0.897750

In [107]:
a.date[15] - a.date[10]

Timedelta('5 days 00:00:00')

In [108]:
a.date.iloc[5] - a.date.iloc[0]

Timedelta('5 days 00:00:00')

In [109]:
df[df["currency"] == "GBP"][["date","rate"]].iloc[9] - df[df["currency"] == "GBP"][["date","rate"]].iloc[4]

date    5 days 00:00:00
rate           -0.00675
dtype: object

In [112]:
df[df["currency"] == "GBP"][["date","rate"]].iloc[9]

date    2020-08-10 00:00:00
rate                0.89775
Name: 19, dtype: object

In [117]:
df["date"].dt.year

0      2020
1      2020
2      2020
3      2020
4      2020
       ...
215    2020
216    2020
217    2020
218    2020
219    2020
Name: date, Length: 220, dtype: int64

In [118]:
df["date"].dt.weekofyear

C:\Users\ASUS\AppData\Local\Temp/ipykernel_5992/211731.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  df["date"].dt.weekofyear

0      31
1      31
2      32
3      32
4      32
       ..
215    32
216    32
217    32
218    32
219    33
Name: date, Length: 220, dtype: int64

In [121]:
df["date"].dt.is_leap_year

0      True
1      True
2      True
3      True
4      True
       ...
215    True
216    True
217    True
218    True
219    True
Name: date, Length: 220, dtype: bool

In [123]:
df["date"].dt.day_name()

0       Saturday
1         Sunday
2         Monday
3        Tuesday
4      Wednesday
         ...
215     Thursday
216       Friday
217     Saturday
218       Sunday
219       Monday
Name: date, Length: 220, dtype: object

In [124]:
df["date"].dt.day_name().value_counts()

Saturday     44
Sunday       44
Monday       44
Tuesday      22
Wednesday    22
Thursday     22
Friday       22
Name: date, dtype: int64

In [127]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   currency  220 non-null    object
 1   date      220 non-null    datetime64[ns]
 2   rate      220 non-null    float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 5.3+ KB

In [128]:
df[df["date"].between("2020-08-03", "2020-08-09")]

    currency       date    rate
2        EUR 2020-08-03  1.0000
3        EUR 2020-08-04  1.0000
4        EUR 2020-08-05  1.0000
5        EUR 2020-08-06  1.0000
6        EUR 2020-08-07  1.0000
..       ...        ...     ...
214      BRL 2020-08-05  6.2839
215      BRL 2020-08-06  6.3324
216      BRL 2020-08-07  6.4111
217      BRL 2020-08-08  6.4111
218      BRL 2020-08-09  6.4111

[154 rows x 3 columns]

In [129]:
df[df["date"].between("2020-08-03", "2020-08-09", inclusive="neither")]

    currency       date    rate
3        EUR 2020-08-04  1.0000
4        EUR 2020-08-05  1.0000
5        EUR 2020-08-06  1.0000
6        EUR 2020-08-07  1.0000
7        EUR 2020-08-08  1.0000
..       ...        ...     ...
213      BRL 2020-08-04  6.2504
214      BRL 2020-08-05  6.2839
215      BRL 2020-08-06  6.3324
216      BRL 2020-08-07  6.4111
217      BRL 2020-08-08  6.4111

[110 rows x 3 columns]

In [130]:
df[df["date"] < "2020-08-03"]

    currency       date        rate
0        EUR 2020-08-01    1.000000
1        EUR 2020-08-02    1.000000
10       GBP 2020-08-01    0.900185
11       GBP 2020-08-02    0.899325
20       USD 2020-08-01    1.177760
21       USD 2020-08-02    1.178035
30       AUD 2020-08-01    1.648971
31       AUD 2020-08-02    1.648640
40       CAD 2020-08-01    1.579445
41       CAD 2020-08-02    1.578570
50       NZD 2020-08-01    1.777575
51       NZD 2020-08-02    1.775400
60       HKD 2020-08-01    9.129470
61       HKD 2020-08-02    9.131170
70       CHF 2020-08-01    1.075795
71       CHF 2020-08-02    1.076325
80       SEK 2020-08-01   10.343720
81       SEK 2020-08-02   10.341820
90       DKK 2020-08-01    7.447400
91       DKK 2020-08-02    7.448260
100      ILS 2020-08-01    4.024000
101      ILS 2020-08-02    4.022750
110      PLN 2020-08-01    4.415550
111      PLN 2020-08-02    4.424015
120      THB 2020-08-01   36.821000
121      THB 2020-08-02   36.821000
130      MXN 2020-08-01   26.239400
131      MXN 2020-08-02   26.244750
140      JPY 2020-08-01  124.756100
141      JPY 2020-08-02  124.733500
150      NOK 2020-08-01   10.713900
151      NOK 2020-08-02   10.725300
160      SGD 2020-08-01    1.619680
161      SGD 2020-08-02    1.619715
170      MYR 2020-08-01    5.023700
171      MYR 2020-08-02    5.023700
180      TWD 2020-08-01   34.738900
181      TWD 2020-08-02   34.738900
190      HUF 2020-08-01  344.059000
191      HUF 2020-08-02  344.425000
200      CZK 2020-08-01   26.241000
201      CZK 2020-08-02   26.257050
210      BRL 2020-08-01    6.134300
211      BRL 2020-08-02    6.134300

In [131]:
df[df["date"] < "2020-08-03"].groupby("currency").mean()

                rate
currency
AUD         1.648805
BRL         6.134300
CAD         1.579007
CHF         1.076060
CZK        26.249025
DKK         7.447830
EUR         1.000000
GBP         0.899755
HKD         9.130320
HUF       344.242000
ILS         4.023375
JPY       124.744800
MXN        26.242075
MYR         5.023700
NOK        10.719600
NZD         1.776487
PLN         4.419783
SEK        10.342770
SGD         1.619698
THB        36.821000
TWD        34.738900
USD         1.177897

In [132]:
pd.date_range("2020-01-01", periods=10)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [133]:
pd.date_range("2020-01-01", periods=10, freq="M")

DatetimeIndex(['2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30',
               '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31',
               '2020-09-30', '2020-10-31'],
              dtype='datetime64[ns]', freq='M')